{% extends 'poll/base1.html' %}
{% block heading %}
<div class="jumbotron text-center">
    <h3>Quiz Detail</h3>
  </div>
{% endblock heading %}

{% block content %}

    <meta charset="UTF-8">
    <title>Quiz Start</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
                /*custom font*/
        @import url(https://fonts.googleapis.com/css?family=Montserrat);

        /*basic reset*/

        .msform-div {
            text-align: center;
            position: relative;
            margin-left:60px;
            width: 90%;
            height: 50%;
            border: 5px;
            border-color: red;
        }

        /*form styles*/
        #msform {
            text-align: center;
            position: relative;
            margin-top: 30px;

        }
/*
        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
            padding: 20px 30px;
            box-sizing: border-box;
            width: 800px;
            height: 300px;
            margin: 0 10%;

            stacking fieldsets above each other
            position: relative;
        }
*/
        /*Hide all except first fieldset*/
        #msform fieldset:not(:first-of-type) {
            display: none;
        }

        /*inputs*/
        #msform input, #msform textarea {
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 0px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            font-family: montserrat;
            color: #2C3E50;
            font-size: 13px;
        }

        #msform input:focus, #msform textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #ee0979;
            outline-width: 0;
            transition: All 0.5s ease-in;
            -webkit-transition: All 0.5s ease-in;
            -moz-transition: All 0.5s ease-in;
            -o-transition: All 0.5s ease-in;
        }

        /*buttons*/
        #msform .action-button {
            width: 100px;
            background: #ee0979;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 25px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }

        #msform .action-button:hover, #msform .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
        }

        #msform .action-button-previous {
            width: 100px;
            background: #C5C5F1;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 25px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
        }

        #msform .action-button-previous:hover, #msform .action-button-previous:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
        }

        /*headings*/
        .fs-title {
            font-size: 18px;
            text-transform: uppercase;
            color: #2C3E50;
            margin-bottom: 10px;
            letter-spacing: 2px;
            font-weight: bold;
        }

        .fs-subtitle {
            font-weight: normal;
            font-size: 13px;
            color: #666;
            margin-bottom: 20px;
        }

        /*progressbar*/
        #progressbar {
            margin-bottom: 5px;
            overflow: hidden;
            /*CSS counters to number the steps*/
            counter-reset: step;
           
        }

        #progressbar li {
            list-style-type: none;
            color: black;
            text-transform: uppercase;
            font-size: 9px;
            width: 10%;
            float: left;
            position: relative;
            letter-spacing: 1px;
        }

        #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 24px;
            height: 24px;
            line-height: 26px;
            display: block;
            font-size: 12px;
            color: #333;
            background: white;
            border-radius: 25px;
            margin: 0 auto 10px auto;
        }

        /*progressbar connectors*/
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
        }

        #progressbar li:first-child:after {
            /*connector not needed before the first step*/
            content: none;
        }

        /*marking active/completed steps green*/
        /*The number of the step and the connector before it = green*/
        #progressbar li.active:before, #progressbar li.active:after {
            background: #ee0979;
            color: white;
        }


        .no-ques {
            width: 80%;
            
            font-weight: bold;
            color: white;
            cursor: pointer;
            padding: 10px 5px;
            margin: 160px 180px;


            font-size: 18px;
            text-transform: uppercase;
            color: #2C3E50;
        }

    </style>

<!-- MultiStep Form -->

<div class="msform-div ">

        <div class="col-md-6 col-md-offset-2">
            <form id="msform" method="post">
                {% csrf_token %}
                <!-- progressbar -->
                {% if quiz_data %}
                    <ul id="progressbar">
                        <li class="active"></li>
                        {% for item in quiz_data %} 
                            <li class=""></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br>
                
                {% for item in quiz_data %} 
                    <fieldset style="width: 700px;margin-left: 0px;padding-left: 0px;">
                        <h2 class="fs-title">Q.{{forloop.counter}}&nbsp;&nbsp;{{item.question.question_text}}</h2><br><hr>

                        {% for choice in item.choices %}
                            <div class="choice_div row"><br>
                                <div class="col-md-2">{{forloop.counter}} &nbsp;.</div>
                                <div class="col-md-6"> &nbsp;&nbsp; {{choice.choice_text}}</div>
                                <div class="col-md-4"><input type="radio" id="choice" class="pull-right " data-qm="{{item.question_master}}" data-q="{{item.question.id}}" value="{{choice.id}}"  checked="checked" name="choice">
                                    <span class="checkmark"></span></div>
                                
                            </div>
                        {% endfor %}
                        <br><br><hr>
                        <input type="button" name="next" class="next action-button " data-qm="{{item.question_master}}" data-q="{{item.question.id}}" value="Next"/>
                            <hr>
                    </fieldset>
                {% empty %}
                    <h2 class="no-ques">No questions added yet.<br><br><hr></h2>
                {% endfor %}
            </form>
        </div>


</div>




<script>

    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50)+"%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
            'transform': 'scale('+scale+')',
            'position': 'absolute'
          });
                next_fs.css({'left': left, 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".previous").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1-now) * 50)+"%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'left': left});
                previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });



    

    var btns = allNextBtn = $('.next');
    var Length =btns.length
    var j = 0   // for redirecting on last question
    for(var i=0; i<Length;i++){
        btns[i].addEventListener('click',function(){
            j++
            // get data from clicked btn
            // dataset will have all stored data like data-q,data-qm
            var question = this.dataset.q;
            var question_master = this.dataset.qm
            var choice = $('input[name=choice]:checked').val()
            console.log(question_master,question,choice)
            $.ajax({
                url: "{% url "poll:add" %}" ,
                data:{csrfmiddlewaretoken: '{{ csrf_token }}',
                    choice:choice,
                    question:question,
                    question_master:question_master
                    },
                type: 'POST',
                dataType: 'html',
                success: function(){
                    if (j==Length){
                        window.location.href = "{% url 'poll:dashboard' %}"
                    }
                }
                //success: function(data){  toastr.success("Successfully cancelled.", 'Success', { "closeButton": true, positionClass: 'toast-top-right', containerId: 'toast-top-right'}); }
            });

        })
    }

</script>

{% endblock content %}